@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about update 1 <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core sdgsfgsdf</a>.</p>
</div>